@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&display=swap');

// Fuentes
$fuente_principal: 'Comfortaa', cursive;
$fuente_titulo:'Dancing Script', cursive;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul:#448EF6;
$morado:#cbb4d4;
$amarillo:#fdbb2d;
$amarillo-light:#FEF9E7 ;
$rosa:#FED1EF;
$negro:black;
$verde:#27AE60;
$rojo: #C0392B ;
$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900