.alerta{
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 0.8rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
  }
.error{
    background-color: $rojo ;
}
.correcto{
  background-color: $verde ;
}
.advertencia{
  background-color: #FF8E00;
  font-weight: bold;
  text-align: center;
  border-radius: 0.8rem;    
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  p{
    color: white;
    max-width: 90rem;
    font-size: 1.5rem;
  }
}
table.tabla-productos{
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;
  thead{
      background-color: $rosa;
      th{
        padding: 1.5rem;
      }
  }
  .imagen-tabla{
    width: 10rem;
  }
  tbody{
    background-color: $amarillo-light;
    th{
      border-bottom: 2px solid $azul;
    }
  }
  

}
.imagen-small{
  width: 25rem;
  
}